USE [master]
GO
/****** Object:  Database [DbRenalCar]    Script Date: 12/19/2025 9:54:24 AM ******/
CREATE DATABASE [DbRenalCar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbRenalCar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TNSERVER\MSSQL\DATA\DbRenalCar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbRenalCar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TNSERVER\MSSQL\DATA\DbRenalCar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbRenalCar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbRenalCar]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[LastLogin] [nchar](10) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[AccountId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComment]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[BlogId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BlogComment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarImages]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[Image1] [nvarchar](max) NULL,
	[CarID] [int] NULL,
	[Image2] [nvarchar](max) NULL,
	[Image3] [nvarchar](max) NULL,
	[Image4] [nvarchar](max) NULL,
 CONSTRAINT [PK_CarImages] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarRentalOrders]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarRentalOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [date] NULL,
	[Deposit] [decimal](18, 2) NULL,
	[Payment] [decimal](18, 2) NULL,
	[StatusID] [int] NULL,
	[ReturnDate] [date] NULL,
	[Notes] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarReviews]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarReviews](
	[CarReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[CarID] [int] NULL,
	[Star] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_CarReviews] PRIMARY KEY CLUSTERED 
(
	[CarReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [nvarchar](100) NULL,
	[Seat] [int] NULL,
	[LicensePlate] [nvarchar](20) NULL,
	[Price] [decimal](18, 2) NULL,
	[Color] [nvarchar](50) NULL,
	[Model] [int] NULL,
	[Rate] [float] NULL,
	[CarBrand] [nvarchar](50) NULL,
	[Image] [nvarchar](max) NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[Alias] [nvarchar](50) NULL,
	[IsSale] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Details] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[TypeID] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarTypes]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[CarTypeName] [nvarchar](100) NULL,
	[Seats] [int] NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Date] [date] NULL,
	[Content] [nvarchar](max) NULL,
	[GeneralTerms] [nvarchar](max) NULL,
	[SpecificTerms] [nvarchar](max) NULL,
	[AdvancePayment] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractDetails]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractDetails](
	[ContractDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[CarTypeID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[ReceiveDate] [date] NULL,
	[ReturnDate] [date] NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractSettlementDetails]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractSettlementDetails](
	[SettlementDetailID] [int] IDENTITY(1,1) NOT NULL,
	[SettlementID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[ReceiveDate] [date] NULL,
	[ReturnDate] [date] NULL,
	[Price] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettlementDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractSettlements]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractSettlements](
	[SettlementID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[Date] [date] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[TotalCarsRented] [int] NULL,
	[AdvancePayment] [decimal](18, 2) NULL,
	[TotalPayment] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettlementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DateofBirth] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[LicenseImage] [nvarchar](max) NULL,
	[IDCard] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[Bank] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](100) NULL,
	[Avartar] [nvarchar](50) NULL,
 CONSTRAINT [PK__Customer__A4AE64B8D5A7BBA1] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Levels] [int] NULL,
	[ParentId] [int] NULL,
	[Position] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsComment]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsComment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[NewsId] [int] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_NewsComment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[PickupDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/19/2025 9:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (2, N'quan', N'124', N'nguyenhongquan', N'2424242', N'sdfdfdfdsfd', 1, NULL, 1)
INSERT [dbo].[Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (3, N'thanh thuy', N'd0afd43f169f68af6d56cf454d74b167', NULL, N'123456789', N'thanh@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (4, N'quan', N'd0afd43f169f68af6d56cf454d74b167', NULL, NULL, N'quan@gmail.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogComment] ON 

INSERT [dbo].[BlogComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [BlogId], [IsActive]) VALUES (2, N'nguyễn Hồng quân', N'Phone', N'quan@gmail.com', CAST(N'2014-11-22T00:00:00.000' AS DateTime), N'this is blog details', 3, 1)
SET IDENTITY_INSERT [dbo].[BlogComment] OFF
GO
SET IDENTITY_INSERT [dbo].[CarRentalOrders] ON 

INSERT [dbo].[CarRentalOrders] ([OrderID], [CustomerID], [OrderDate], [Deposit], [Payment], [StatusID], [ReturnDate], [Notes]) VALUES (1, 5, CAST(N'2024-12-29' AS Date), CAST(0.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 1, CAST(N'2024-12-28' AS Date), NULL)
INSERT [dbo].[CarRentalOrders] ([OrderID], [CustomerID], [OrderDate], [Deposit], [Payment], [StatusID], [ReturnDate], [Notes]) VALUES (2, 5, CAST(N'2024-12-29' AS Date), CAST(0.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 1, CAST(N'2024-12-28' AS Date), NULL)
INSERT [dbo].[CarRentalOrders] ([OrderID], [CustomerID], [OrderDate], [Deposit], [Payment], [StatusID], [ReturnDate], [Notes]) VALUES (3, 5, CAST(N'2024-12-29' AS Date), CAST(0.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 1, CAST(N'2024-12-26' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[CarRentalOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[CarReviews] ON 

INSERT [dbo].[CarReviews] ([CarReviewID], [Name], [Phone], [Email], [CreatedDate], [Detail], [CarID], [Star], [IsActive]) VALUES (1, N'NQuân', N'1234', N'Q@gmail.com', CAST(N'2024-12-22T00:00:00.000' AS DateTime), N'sản phẩm tốt', 1, 5, 1)
INSERT [dbo].[CarReviews] ([CarReviewID], [Name], [Phone], [Email], [CreatedDate], [Detail], [CarID], [Star], [IsActive]) VALUES (2, N'Nthanh', N'123', N'thnh@gmai.com', CAST(N'2023-12-22T00:00:00.000' AS DateTime), N'xe thơm', 1, 3, 1)
INSERT [dbo].[CarReviews] ([CarReviewID], [Name], [Phone], [Email], [CreatedDate], [Detail], [CarID], [Star], [IsActive]) VALUES (3, N'quan', NULL, NULL, CAST(N'2024-12-02T16:09:09.960' AS DateTime), N'123', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CarReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[CarTypes] ON 

INSERT [dbo].[CarTypes] ([TypeID], [CarTypeName], [Seats], [Manufacturer], [Image]) VALUES (1, N'Mini Class Vehicles', 4, N'pinlk', N'A.jpg')
INSERT [dbo].[CarTypes] ([TypeID], [CarTypeName], [Seats], [Manufacturer], [Image]) VALUES (2, N'Small Class Vehicles', NULL, NULL, N'B.jpg')
INSERT [dbo].[CarTypes] ([TypeID], [CarTypeName], [Seats], [Manufacturer], [Image]) VALUES (3, N'Sub-Medium Class Vehicles', NULL, NULL, N'C.jpg')
SET IDENTITY_INSERT [dbo].[CarTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'quan', N'123', NULL, N'123', NULL, CAST(N'2024-12-02T12:21:50.857' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'hanh', N'1234', NULL, N'1244', NULL, CAST(N'2024-12-02T12:24:18.040' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'quan', N'03534682', NULL, N'liên hệ với tôi ngay', NULL, CAST(N'2024-12-02T14:21:59.813' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Name], [Password], [Email], [DateofBirth], [Address], [LicenseNumber], [LicenseImage], [IDCard], [PhoneNumber], [AccountNumber], [Bank], [CompanyName], [Avartar]) VALUES (1, NULL, N'quan', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Name], [Password], [Email], [DateofBirth], [Address], [LicenseNumber], [LicenseImage], [IDCard], [PhoneNumber], [AccountNumber], [Bank], [CompanyName], [Avartar]) VALUES (2, NULL, N'thuy', N'123', N'quan@gmail.com', NULL, N'nghệ an', NULL, NULL, NULL, N'12334', NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Name], [Password], [Email], [DateofBirth], [Address], [LicenseNumber], [LicenseImage], [IDCard], [PhoneNumber], [AccountNumber], [Bank], [CompanyName], [Avartar]) VALUES (3, N'Đậu Công Quân', N'dauquan', N'd0afd43f169f68af6d56cf454d74b167', N'dauquan@gmail.com', CAST(N'2004-04-03T00:00:00.000' AS DateTime), N'nghệ an', N'1123456789', N'A2_20251218114951560.jpg', NULL, N'12334', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MenuID], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [IsActive]) VALUES (1, N'Trang chủ', N'home', NULL, 1, NULL, 1, 1)
INSERT [dbo].[Menu] ([MenuID], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [IsActive]) VALUES (2, N'Sản phẩm', N'product', NULL, 1, NULL, 2, 1)
INSERT [dbo].[Menu] ([MenuID], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [IsActive]) VALUES (3, N'Blog', N'blog', NULL, 1, NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsComment] ON 

INSERT [dbo].[NewsComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [NewsId], [isActive]) VALUES (2, N'thuy', NULL, N'thuy@gjt', CAST(N'2025-01-12T15:00:31.150' AS DateTime), N'tgsdgvhdm', 2, NULL)
INSERT [dbo].[NewsComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [NewsId], [isActive]) VALUES (1002, N'tươi', NULL, N'heo@tuoi', CAST(N'2025-01-13T12:02:40.110' AS DateTime), N'fyuk', 2, NULL)
SET IDENTITY_INSERT [dbo].[NewsComment] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CarID], [Description], [Price], [Quantity], [PickupDate], [ReturnDate]) VALUES (1, 1, 13, NULL, CAST(200.00 AS Decimal(18, 2)), 1, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CarID], [Description], [Price], [Quantity], [PickupDate], [ReturnDate]) VALUES (2, 2, 13, NULL, CAST(200.00 AS Decimal(18, 2)), 1, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CarID], [Description], [Price], [Quantity], [PickupDate], [ReturnDate]) VALUES (3, 3, 13, NULL, CAST(200.00 AS Decimal(18, 2)), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([StatusID], [StatusDescription]) VALUES (1, N' Đã đặt')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusDescription]) VALUES (2, N'Đã Huỷ')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusDescription]) VALUES (3, N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
INSERT [dbo].[Role] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'quanli')
INSERT [dbo].[Role] ([RoleId], [RoleName], [Description]) VALUES (2, N'guest', N'khách')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Email], [Password]) VALUES (1, N'qa', N'quan@gmail.com', N'd0afd43f169f68af6d56cf454d74b167')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Account]
GO
ALTER TABLE [dbo].[BlogComment]  WITH CHECK ADD  CONSTRAINT [FK_BlogComment_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[BlogComment] CHECK CONSTRAINT [FK_BlogComment_Blog]
GO
ALTER TABLE [dbo].[CarRentalOrders]  WITH CHECK ADD  CONSTRAINT [FK__CarRental__Custo__2D27B809] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[CarRentalOrders] CHECK CONSTRAINT [FK__CarRental__Custo__2D27B809]
GO
ALTER TABLE [dbo].[CarRentalOrders]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[OrderStatus] ([StatusID])
GO
ALTER TABLE [dbo].[CarReviews]  WITH CHECK ADD  CONSTRAINT [FK_CarReviews_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[CarReviews] CHECK CONSTRAINT [FK_CarReviews_Cars]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_CarTypes] FOREIGN KEY([TypeID])
REFERENCES [dbo].[CarTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_CarTypes]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK__Contracts__Custo__30F848ED] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK__Contracts__Custo__30F848ED]
GO
ALTER TABLE [dbo].[ContractDetails]  WITH CHECK ADD FOREIGN KEY([CarTypeID])
REFERENCES [dbo].[CarTypes] ([TypeID])
GO
ALTER TABLE [dbo].[ContractDetails]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contract] ([ContractID])
GO
ALTER TABLE [dbo].[ContractSettlementDetails]  WITH CHECK ADD FOREIGN KEY([SettlementID])
REFERENCES [dbo].[ContractSettlements] ([SettlementID])
GO
ALTER TABLE [dbo].[ContractSettlements]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contract] ([ContractID])
GO
ALTER TABLE [dbo].[NewsComment]  WITH CHECK ADD  CONSTRAINT [FK_NewsComment_News] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([NewsId])
GO
ALTER TABLE [dbo].[NewsComment] CHECK CONSTRAINT [FK_NewsComment_News]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[CarRentalOrders] ([OrderID])
GO
USE [master]
GO
